@import '~antd/dist/antd.css';

body {
  background: #E6E6E6;
}

.wrapper {
  width: 1280px;
  background: #FFF;
  margin: 0 auto 15px auto;

  .error-title {
    text-align: center;
  }
}

#loading {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;

  .ant-spin-spinning {
    position: absolute;
    left: 0;
    right: 0;
  }

}