.home-layout-wrap {
  .ant-layout-header {
    background: #fff;

    .trigger {
      padding: 0 24px;
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }

    }
  }

  .ant-layout-sider {

    .logo {
      img {
        width: 100%;
      }
    }
  }
}